<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="勇者ちゃんクエスト"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathPuzzleGame">
        <activity android:name=".ui.main.MainActivity" android:exported="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.dungeon.DungeonMenuActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.battle.BattleActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.training.TrainingActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.highscore.HighScoreActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.howtoplay.HowToPlayActivity" android:screenOrientation="portrait" />
    </application>
</manifest>
